<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="./styles/library/bootstrap.min.css">
	<script src="https://kit.fontawesome.com/bb1f5e59b5.js" crossorigin="anonymous"></script>
	<title>Vue Default Project</title>
</head>
<body>
		<div class="wrapper">
			<div class="sample">
				<form @submit.prevent="formSubmited = true" v-if="!formSubmited">
					<div class="progress">
						<div class="progress-bar" role="progressbar" :style="progressWidth"></div>
					</div>
					<div>
						<div v-for="(item, index) in info" class="form-group">
							<label>{{item.name}}</label>
							<span class="fa"
							      v-if="controls[index].activated"
							      :class="controls[index].error ?
										'fa-exclamation-circle text-danger' :  'fa-check-circle text-success'">
							</span>
							<input type="text"
							       class="form-control"
							       class="form-control"
							       :value="item.value"
							       @input="onInput(index, $event.target.value)">
						</div>
					</div>
					<button class="btn btn-primary" :disabled="done < info.length">
						Send Data
					</button>
				</form>
				<div>
					<table class="table table-bordered">
						<tr v-for="item in info">
							<td>{{item.name}}</td>
							<td>{{item.value}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
</body>
</html>
